User-Management.Api/bin
User-Management.Api/obj
User-Management.Application/bin
User-Management.Application/obj
User-Management.Domain/bin
User-Management.Domain/obj
User-Management.Infrastructure/bin
User-Management.Infrastructure/obj
